<div class="container">
    <div class="row">
        <h1>Id: {{ticketClient.ticketId}} title: {{ticketClient.title}}</h1>
    </div>
    <div class="form-group">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
              <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                  <div class="card card-bordered">
                    <div class="card-header">
                      <h4 class="card-title"><strong>Chat</strong></h4>
                      <a class="btn btn-xs btn-secondary" href="#" data-abc="true"
                        >Exit Chat app</a
                      >
                      <button class="btn btn-xs btn-secondary" data-abc="true" (click)="resolveTicket()"
                      >Resolve Ticket</button
                    >
                    </div>
        
                    <div
                      class="ps-container ps-theme-default ps-active-y"
                      id="chat-content"
                      style="overflow-y: scroll !important; height: 400px !important"
                    >
                      <div class="media media-chat">
                        <div class="media-body">
                          <div *ngFor="let message of conversation">
                            <div><strong>{{message.userName}}:</strong> {{message.message}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
                        <div
                          class="ps-scrollbar-x"
                          tabindex="0"
                          style="left: 0px; width: 0px"
                        ></div>
                      </div>
                      <div
                        class="ps-scrollbar-y-rail"
                        style="top: 0px; height: 0px; right: 2px"
                      >
                        <div
                          class="ps-scrollbar-y"
                          tabindex="0"
                          style="top: 0px; height: 2px"
                        ></div>
                      </div>
                    </div>
        
                    <div class="publisher bt-1 border-light">
                      <img
                        class="avatar avatar-xs"
                        src="https://img.icons8.com/color/36/000000/administrator-male.png"
                        alt="..."
                      />
                      <input
                        class="publisher-input"
                        type="text"
                        [(ngModel)]="messageToSend" name="messageToSend"
                        placeholder="Write something"
                        (keyup.enter)="sendMessage()"
                      />
                      <span class="publisher-btn file-group">
                        <i class="fa fa-paperclip file-browser"></i>
                        <input type="file" />
                      </span>
                      <a class="publisher-btn" href="#" data-abc="true"
                        ><i class="fa fa-smile"></i
                      ></a>
                      <a class="publisher-btn text-info" href="#" data-abc="true"
                        ><i class="fa fa-paper-plane"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
